body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.3;
	color: #333333;
	background-color: #ffffff;
}

.remove-scroll {
	overflow: hidden;
}

.section {
	padding: 140px 0;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	display: inline-block;
	position: relative;
	margin-bottom: 60px;
	font-size: 48px;
	font-weight: 700;
}

.title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 7px;
	width: 100%;
	height: 15px;
	background-color: rgba(35, 82, 222, 0.1);
}

.button {
	padding: 12px 24px;
	color: #ffffff;
	background-color: #2352de;
	border: 1px solid transparent;
	transition: box-shadow 0.2s, color 0.2s, border-color 0.2s, background-color 0.2s;
}

.button:hover {
	color: #2352de;
	background-color: transparent;
	border-color: #2352de;
}

.button:focus {
	box-shadow: 0 0px 0px 3px rgba(35, 82, 222, 0.6);
}

.button:active {
	color: #ffffff;
	background-color: #2352de;
	box-shadow: inset 0 7px 4px rgba(0, 0, 0, 0.25);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header {
	position: relative;
	z-index: 5;
	height: 100vh;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.header::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(35, 82, 222, 0.5);
}

.menu {
	position: fixed;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 50%;
	max-width: 1200px;
	width: 100%;
	padding: 75px 15px 0;
	transform: translateX(-50%);
	transition: padding 0.5s;
}

.menu::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	width: 100vw;
	height: 100%;
	background-color: transparent;
	transform: translateX(-50%);
	transition: box-shadow 0.5s, background-color 0.5s;
}

.menu--fixed {
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu--fixed::before {
	background-color: #7792E0;
	box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.5);
}

.menu__button {
	display: none;
}

.logo {
	transition: box-shadow 0.3s, opacity 0.3s;
}

.logo:hover {
	opacity: 70%;
}

.logo:focus {
	box-shadow: 0 0 0px 3px #2352de;
}

.logo:active {
	opacity: 50%;
}

.menu__list {
	display: flex;
}

.menu__item:not(:last-child) {
	margin-right: 35px;
}

.menu__link {
	border-radius: 3px;
	transition: box-shadow 0.3s, opacity 0.3s, color 0.3s, text-decoration-color 0.3s, background-color 0.3s;
}

.menu__link:hover {
	text-decoration-color: #ffffff;
}

.menu__link:focus {
	box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.5);
}

.menu__link:active {
	opacity: 70%;
}

.header__content {
	position: relative;
	display: flex;
	align-items: center;
	height: 100vh;
	padding-top: 128px;
}

.header__title {
	max-width: 650px;
	font-size: 48px;
	font-weight: 400;
}

.header__subtitle {
	display: block;
	font-size: 90px;
	font-weight: 700;
}

.header__link {
	position: absolute;
	left: 50%;
	bottom: 30px;
	min-height: 56px;
	border-radius: 3px;
	transform: translateX(-50%);
	transition: box-shadow 0.3s, opacity 0.3s, text-decoration-color 0.3s;
}

.header__link::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 37px;
	height: 23px;
	background-image: url('../images/arrow_icon.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translateX(-50%);
}

.header__link:hover {
	text-decoration-color: #ffffff;
}

.header__link:focus {
	box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.5);
}

.header__link:active {
	opacity: 70%;
}

.about__text {
	font-weight: 400;
	line-height: 1.6;
}

.about__text p:not(:last-child) {
	margin-bottom: 25px;
}

.skills {
	background-color: #f6f6f8;
}

.skills__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__image {
	margin-right: 90px;
}

.skills__info {
	max-width: 664px;
	width: 100%;
}

.skills__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.skills__item:not(:last-child) {
	margin-bottom: 86px;
}

.skills__text {
	min-width: 50px;
	flex-shrink: 0;
	margin-right: 14px;
	line-height: 1;
	text-transform: uppercase;
}

.skills__line {
	background-color: #dbdbed;
	max-width: 600px;
	width: 100%;
	height: 32px;
}

.skills__inline {
	background-color: #2352de;
	height: 100%;
}

.services {
	padding-bottom: 0;
}

.services__items {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	flex-wrap: wrap;
}

.services__item {
	max-width: 330px;
	width: 100%;
}

.services__item::before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	margin-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.services__item--icon-layout::before {
	background-image: url("../images/layout_icon.svg");
}

.services__item--icon-landing::before {
	background-image: url("../images/landing_icon.svg");
}

.services__item--icon-support::before {
	background-image: url("../images/support_icon.svg");
}

.services__subtitle {
	margin-bottom: 25px;
	font-size: 28px;
}

.services__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
}

.portfolio {
	text-align: center;
}

.portfolio__filter {
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}

.portfolio__filter-item:not(:last-child) {
	margin-right: 35px;
}

.portfolio__btn {
	font-size: 24px;
	line-height: 1.6;
	border-radius: 3px;
	text-decoration: underline transparent;
	transition: color 0.3s, text-decoration-color 0.3s, box-shadow 0.3s;
}

.portfolio__btn:hover {
	color: #2352de;
	text-decoration-color: #2352de;
}

.portfolio__btn:focus {
	box-shadow: 0 0 0px 2px rgba(89, 125, 230, 0.7);
}

.portfolio__btn:active,
.mixitup-control-active {
	color: #2352de;
}

.portfolio__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	grid-gap: 45px;
	margin-bottom: 60px;
}

.portfolio__link {
	position: relative;
	display: flex;
}

.portfolio__text {
	position: absolute;
	align-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 15px;
	color: #ffffff;
	box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 0.5s, background-color 0.5s, outline-color 0.3s;
}

.portfolio__link:hover .portfolio__text {
	opacity: 1;
}

.portfolio__link:focus .portfolio__text {
	outline: 3px solid rgba(89, 125, 230, 0.7);
	opacity: 1;
}

.portfolio__link:active .portfolio__text {
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 1;
}

.reviews {
	text-align: center;
	background-color: #f6f6f8;
}

.reviews__content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 50px;
	gap: 50px 100px;
}

.blockquote {
	max-width: 400px;
	width: 100%;
	font-size: 24px;
	font-style: italic;
	font-weight: 300;
}

.blockquote__images {
	margin: 0 auto 20px;
	border-radius: 50%;
}

.blockquote__author {
	display: block;
	margin-bottom: 20px;
	font-weight: 600;
	color: #2352de;
}

.reviews__video-link {
	position: relative;
	max-width: 570px;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transition: box-shadow 0.3s;
}

.reviews__video-link::before {
	content: "";
	display: block;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: background-color 0.3s;
}

.reviews__video-link::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 85px;
	height: 100px;
	background-image: url('../images/play.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translate(-50%, -50%);
	transition: transform 0.3s;
}

.reviews__video-link:hover::before {
	background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video-link:hover::after {
	transform: translate(-50%, -50%) scale(1.5);
}

.reviews__video-link:focus {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video-link:active::before {
	background-color: rgba(0, 0, 0, 0.45);
}

.reviews__video-link:active::after {
	transform: translate(-50%, -50%) scale(0.6);
}

.statistics {
	padding-bottom: 0;
}

.statistics__items {
	display: flex;
	justify-content: space-between;
	column-gap: 17px;
}

.statistics__item {
	max-width: 280px;
	width: 100%;
	padding: 50px 15px;
	text-align: center;
	background-color: #f6f6f8;
	border: 1px solid #dbdbed;
}

.statistics__item::before {
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	margin: 0 auto 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.statistics__item--icon-works::before {
	background-image: url("../images/works_icon.svg");
}

.statistics__item--icon-clients::before {
	background-image: url("../images/clients_icon.svg");
}

.statistics__item--icon-coffee::before {
	background-image: url("../images/coffee_icon.svg");
}

.statistics__item--icon-review::before {
	background-image: url("../images/review_icon.svg");
}

.statistics__text {
	font-weight: 400;
	margin-bottom: 20px;
}

.statistics__quantity {
	margin-top: auto;
	font-size: 44px;
	line-height: 1;
}

.contacts__inner {
	display: flex;
	justify-content: center;
	gap: 50px 99px;
}

.connection {
	max-width: 531px;
	width: 100%;
	font-size: 16px;
	font-weight: 400;
}

.connection__text {
	margin-bottom: 30px;
	line-height: 1.6;
}

.connection__items {
	margin-bottom: 20px;
}

.connection__item:not(:last-child) {
	margin-bottom: 15px;
}

.connection__link {
	color: #2352de;
	border-radius: 3px;
	transition: text-decoration-color 0.3s, box-shadow 0.3s, opacity 0.3s;
}

.connection__link:hover {
	text-decoration-color: inherit;
}

.connection__link:focus {
	box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.connection__link:active {
	opacity: 70%;
}

.connection__social-items {
	display: flex;
}

.connection__social-item:not(:last-child) {
	margin-right: 20px;
}

.connection__social-link {
	display: block;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	outline-width: 2px;
	transition: opacity 0.3s, outline-color 0.3s, box-shadow 0.3s;
}

.connection__social-link:hover {
	opacity: 70%;
}

.connection__social-link:focus {
	outline-color: rgba(35, 82, 222, 0.5);
}

.connection__social-link:active {
	opacity: 100%;
	box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.form {
	max-width: 540px;
	width: 100%;
}

.form__top {
	display: flex;
	justify-content: space-between;
}

.form__label {
	display: block;
	width: 48%;
	margin-bottom: 30px;
	font-size: 14px;
}

.form__label:first-child {
	margin-right: 30px;
}

.form__label--enlarged {
	width: 100%;
}

.form__input {
	display: block;
	width: 100%;
	margin-top: 10px;
	padding: 13px 15px;
	background-color: #f6f6f8;
	transition: box-shadow 0.3s;
}

.form__input::placeholder {
	font-weight: 400;
	color: #9c9cab;
	transition: color 0.3s;
}

.form__input--enlarged {
	min-height: 115px;
	max-height: 215px;
	resize: vertical;
}

.form__input:hover::placeholder {
	color: #000000;
}

.form__input:focus {
	box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.footer {
	display: flex;
	justify-content: center;
	padding: 50px 0;
	background-color: #343740;
}

@media (max-width: 1200px) {
	.menu {
		padding-top: 15px;
	}

	.menu__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 3px;
		transition: outline 0.3s, background-color 0.3s;
	}

	.menu__button-line {
		display: block;
		position: relative;
		width: 30px;
		height: 2px;
		border-radius: 1px;
		background-color: #ffffff;
		transition: width 0.5s;
	}

	.menu__button-line::before,
	.menu__button-line::after {
		content: "";
		display: block;
		position: absolute;
		width: 30px;
		height: 2px;
		border-radius: 1px;
		background-color: #ffffff;
		transition: transform 0.5s, bottom 0.5s, top 0.5s, right 0.5s, left 0.5s;
	}

	.menu__button-line::before {
		left: 0;
		top: -10px;
	}

	.menu__button-line::after {
		right: 0;
		bottom: -10px;
	}

	.menu__button.menu__button--active .menu__button-line {
		width: 0;
	}

	.menu__button.menu__button--active .menu__button-line::before {
		left: -15px;
		top: 0;
		transform: rotate(45deg);
	}

	.menu__button.menu__button--active .menu__button-line::after {
		right: -15px;
		bottom: 0;
		transform: rotate(-45deg);
	}

	.menu__button:focus {
		outline: 2px solid rgba(255, 255, 255, 0.5);
	}

	.menu__button:active {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.menu__list {
		display: block;
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: #7792e0;
		transform: translateY(-200%);
		transition: transform 0.5s;
	}

	.menu__list--open {
		transform: translateY(0);
	}

	.menu__item {
		text-align: center;
	}

	.menu__item:first-child {
		padding-top: 80px;
	}

	.menu__item:not(:last-child) {
		margin-right: 0;
	}

	.menu__link {
		display: block;
		height: 45px;
		text-decoration: none;
		line-height: 2.5;
		border-radius: 0;
	}

	.menu__link:active {
		opacity: 1;
		background-color: rgba(35, 82, 222, 0.7);
	}

	.header__content {
		padding-top: 68px;
	}

	.services__items {
		justify-content: space-around;
		gap: 60px;
	}

	.portfolio__btn {
		text-decoration: none;
	}

	.portfolio__content {
		grid-template-columns: repeat(2, minmax(100px, 360px));
	}

	.reviews__content {
		padding: 0;
		justify-content: center;
	}

	.statistics {
		padding-bottom: 0;
	}

	.statistics__items {
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}

	.contacts__inner {
		flex-wrap: wrap;
	}

	.connection__item:not(:last-child) {
		margin-bottom: 0;
	}

	.connection__link {
		display: block;
		padding: 10px 0;
	}
}

@media (max-width: 992px) {
	.section {
		padding: 100px 0;
		text-align: center;
	}

	.logo {
		width: 110px;
	}

	.menu__item:first-child {
		padding-top: 70px;
	}

	.header__title {
		font-size: 50px;
	}

	.header__subtitle {
		font-size: 38px;
	}

	.header__link {
		min-height: 51px;
		font-size: 14px;
		bottom: 15px;
	}

	.header__content {
		padding-top: 59px;
	}

	.about__text {
		text-align: left;
	}

	.skills__inner {
		flex-direction: column;
		align-items: normal;
		row-gap: 86px;
		padding: 0 22px;
	}

	.skills__image {
		margin: 0 auto;
	}

	.skills__info {
		margin: 0 auto;
	}

	.skills__item {
		flex-direction: column;
	}

	.skills__text {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.skills__line {
		max-width: none;
	}

	.services {
		padding-bottom: 0;
	}

	.services__items {
		text-align: left;
	}

	.services__item::before {
		margin-bottom: 15px;
	}

	.services__subtitle {
		margin-bottom: 20px;
	}

	.portfolio__content {
		grid-gap: 30px;
	}

	.blockquote {
		margin-right: 0;
	}

	.statistics {
		padding-bottom: 0;
	}

	.contacts__inner {
		justify-content: center;
		text-align: left;
	}

	.connection {
		margin-right: 0;
	}

	.footer {
		padding: 32px 0;
	}
}

@media (max-width: 768px) {
	.header__title {
		font-size: 24px;
	}

	.header__subtitle {
		font-size: 40px;
	}

	.services__item:not(:last-child) {
		margin-right: 0;
	}

	.portfolio__filter {
		flex-direction: column;
	}

	.portfolio__filter-item:not(:last-child) {
		margin-right: 0;
	}

	.portfolio__btn {
		display: block;
		width: 100%;
		padding: 10px 0;
	}

	.statistics__item {
		display: flex;
		flex-direction: column;
		width: 47%;
	}
}

@media (max-width: 576px) {
	.section {
		padding: 50px 0;
	}

	.title {
		margin-bottom: 30px;
		font-size: 28px;
	}

	.title::before {
		bottom: 4px;
		height: 10px;
	}

	.about__text {
		font-size: 16px;
	}

	.skills__inner {
		row-gap: 30px;
	}

	.skills__item:not(:last-child) {
		margin-bottom: 24px;
	}

	.services {
		padding-bottom: 0;
	}

	.services__items {
		justify-content: flex-start;
		row-gap: 30px;
	}

	.services__item {
		max-width: none;
	}

	.services__item::before {
		width: 40px;
		height: 40px;
		margin-bottom: 10px;
	}

	.services__subtitle {
		margin-bottom: 15px;
		font-size: 20px;
	}

	.portfolio__filter {
		margin-bottom: 30px;
	}

	.portfolio__btn {
		font-size: 18px;
	}

	.portfolio__content {
		grid-gap: 15px;
		margin-bottom: 30px;
	}

	.portfolio__text {
		font-size: 14px;
	}

	.blockquote {
		margin-right: 0;
		font-size: 16px;
	}

	.blockquote__author {
		font-size: 20px;
	}

	.blockquote__images {
		margin-bottom: 30px;
	}

	.reviews__video-link {
		position: absolute;
		width: 60px;
		height: 60px;
		top: 90px;
		left: calc(50% + 25px);
		border-radius: 50%;
	}

	.reviews__video-link::before {
		border-radius: 50%;
	}

	.reviews__video-link::after {
		width: 17px;
		height: 20px;
	}

	.statistics__items {
		gap: 15px;
	}

	.statistics__item {
		padding-top: 25px;
		padding-bottom: 25px;
	}

	.statistics__item::before {
		width: 40px;
		height: 40px;
		margin-bottom: 10px;
	}

	.statistics__text {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.statistics__quantity {
		font-size: 30px;
	}

	.contacts__inner {
		row-gap: 32px;
	}

	.form__top {
		display: block;
	}

	.form__label {
		width: 100%;
	}
}

@media (max-width: 992px) and (orientation: landscape) {
	.menu__link {
		height: 40px;
		line-height: 2.2;
	}

	.header__title {
		font-size: 26px;
	}

	.header__subtitle {
		font-size: 38px;
	}
}